<div class="bg-cover bg-center h-screen" style="background-image: url('assets/images/HomePage.jpg');">
    <div class="container pl-20 flex flex-col justify-center h-full">
        <p class="text-5xl md:text-6xl lg:text-7xl font-bold font-serif text-gradient text-white">WELCOME</p>
        <p class="text-xl md:text-2xl lg:text-3xl text-white max-w-lg mt-4">
            Thank you for joining our organization. <br> At <strong>MURAAI</strong>, we are committed to fostering
            innovation, collaboration, and excellence.
        </p>
    </div>
</div>