
  <!-- <div class="bg-cover h-96 w-full mx-auto mt-10 rounded-lg p-10" style="background-image: url('assets/images/bg.jpg');">
    <div class="bg-cover bg-center h-screen">
        <div class="container pl-20 flex flex-col justify-center h-full">
          <p class="text-5xl md:text-6xl lg:text-7xl font-bold font-serif text-gradient">WELCOME</p>
          <p class="text-xl md:text-2xl lg:text-3xl max-w-lg mt-4">
            Thank you for joining our organization. At <strong>MURAAI</strong>, we are committed to fostering
            innovation, collaboration, and excellence.
          </p>
        </div>
      </div>
</div> -->
<div class="head">
    <div class="bg-cover bg-center h-screen">
        <div class="container  flex flex-col justify-center mt-20 p-10">
          <p class="text-5xl text-blue-700 font-bold">WELCOME</p>
          <p class="text-xl  md:text-2xl lg:text-3xl  mt-4">
            Thank you for joining our organization. At <strong>MURAAI</strong>, we are committed to fostering
            innovation, collaboration, and excellence.
          </p>
        </div>
      </div>

</div>