.head {
    width: 600px;
    height: 400px;
    background: #cde1f7;
    position: fixed;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-right: none;
    margin-left: 200px;
    margin-top: 40px;
  }