
.sidenav-container {
    height: 100%;
    
    /* margin-top: 50px; */
  }
  
  .sidenav {
    width: 150px;
    background-color: #486fee;
    position: fixed;
    margin-top: 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-right: none;
  }
  /* In your component's CSS file or global styles */
.mat-toolbar {
  background-color: #486fee; 
  color: #fff;
}

.mat-toolbar.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 40px
}

/* .active-link {
  background-color: #48929b;
  border-radius: 10px;
  padding: 5px;

} */
.active-link {
  position: relative;
  padding-bottom: 5px;

}

.active-link::after {
  content: '';
  position: absolute;
  left: 5px;
  bottom: 0;
  width: 100%;
  height: 3px; /* Adjust thickness of the underline */
  background-color: red; /* Initial color of the underline */
  border-radius: 5px; /* Adjust the border radius if needed */
  transition: width 0.3s ease, background-color 0.3s ease; /* Animation duration and easing */
}

.active-link:hover::after,
.active-link:focus::after {
  width: 50%; /* Adjust the width of the underline on hover/focus */
  background-color: #48929b; /* Color of the underline on hover/focus */
}

