
.sidenav-container {
    height: 100%;
    /* margin-top: 50px; */
  }
  
  .sidenav {
    width: 200px;
   
  }
.mat-toolbar.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Add other sticky styles as needed */
}