<div class="container">
<div class="header">
<div class="navContainer">

<mat-icon  style="margin-left: 5px; padding-top: 3px;">menu</mat-icon>
<a href="">HOME</a>
<a href="">About</a>
<a href="">Contact</a>
<a href="">Logout</a>
</div>
<div class="navContainer1">
    <img src="./../../../assets/my_logo-removebg-preview.png" alt="" style="height: 30px;">
</div>
</div>
<div class="mainContent">
    <p>
        In Angular, organizing your components into folders is a common practice to maintain a clean and scalable project structure. Here's a step-by-step guide on how to create a component inside a folder:
        
        Open a terminal:
        Open your command-line interface or terminal.
      
        Navigate to your Angular project directory:
        Use the cd command to navigate to the directory where you want to create your component.</p>
</div>

</div>